
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@*<h1>@Model.Name</h1>*@

@*<h1>@ViewData["ProductName"]</h1>*@
@*
@foreach(var item in ViewBag.Products)
{
    <p>@item.Name</p>
}
*@
<hr/>

@*<p>@ViewData["Name"]</p>
<p>@ViewData["Surname"]</p>
<p>@ViewData["Age"]</p>*@

@*<p>@ViewBag.Name</p>
<p>@ViewBag.Surname</p>
<p>@ViewBag.Age</p>*@

<p>tempdata=>@TempData["Age"]</p>
<p>viewbag=>@ViewBag.Surname</p>
<p>viewdata=>@ViewData["Name"]</p>